@charset "UTF-8";
body {
  font-family: "Merriweather", serif;
  color: white;
}

h1 {
  font-family: "Inter", sans-serif;
  width: 45%;
  font-size: 100px;
  margin-bottom: 50px;
  font-weight: 800;
}

p {
  line-height: 2.5;
}

form p {
  line-height: 4;
  font-size: large;
}

a {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: black;
  text-decoration: none;
}

/* tablettes avec grande résolution */
@media screen and (max-width: 1200px) {
  h1 {
    width: 60%;
  }
}
/* tablettes */
@media screen and (max-width: 800px) {
  h1 {
    font-size: 50px;
    width: 55%;
  }
  footer .contact-info .info .value p {
    font-size: 20px;
  }
}
/* mobiles */
@media screen and (max-width: 450px) {
  h1 {
    font-size: 30px;
    width: 75%;
  }
  footer .contact-info .info .value p {
    font-size: 10px;
    padding-left: 10px;
  }
}
button {
  margin: 70px 0;
  padding: 15px 35px;
  color: rgb(105, 105, 105);
  background-color: rgb(233, 233, 233);
  font-weight: 900;
}
button:hover {
  background-color: white;
}

/* tablettes et mobiles */
@media screen and (max-width: 800px) {
  button {
    margin: 40px 0;
  }
}
header, #main {
  background-image: url(../../images/bg.webp);
  background-position-x: center;
}

.article-images {
  height: 100%;
  width: 75%;
  margin-top: 85px;
}

.double-article-images {
  margin-top: 0;
}

@keyframes load-fade {
  0% {
    height: 2000px;
    display: block;
  }
  100% {
    height: 0px;
    display: none;
  }
}
/* reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

/* animation on load et main properties */
#blank-load {
  height: 2000px;
  background-color: white;
  animation: load-fade 3s forwards;
}

#main-page {
  position: relative;
  bottom: 200px;
}

/* header */
.slogan-container {
  display: flex;
  position: relative;
  height: 1050px;
  top: 60px;
  text-align: center;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.slogan-container p {
  font-style: italic;
}

.arrow {
  position: relative;
  width: 60px;
  height: 60px;
  top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 50%;
}
.arrow a {
  padding: 20px;
}
.arrow:hover {
  border-color: black;
}
.arrow:hover > a > .fa-solid {
  color: black;
}
.arrow i {
  color: white;
}

nav {
  position: relative;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  top: 12%;
  padding: 25px 0;
  background-color: rgba(245, 245, 245, 0.3);
}
nav a {
  color: white;
  padding: 25px 25px;
}
nav a:hover {
  background-color: rgb(233, 233, 233);
  color: black;
}
nav .nav-links {
  display: flex;
  width: 25%;
  justify-content: space-evenly;
  align-items: center;
}
nav .nav-links a {
  padding: 0;
}
nav .nav-links a:hover {
  background-color: transparent;
  color: black;
}

/* main content */
#main {
  position: absolute;
  z-index: 9999;
  width: 100%;
}
#main .article {
  display: flex;
  flex-flow: column;
  width: 80%;
  margin: auto;
  background-color: white;
  color: black;
}
#main .article .first-date {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 80px;
  font-size: 20px;
}
#main .article .first-date .line {
  width: 25%;
  border: 1px solid rgba(105, 105, 105, 0.3);
}
#main .article .publication-date {
  padding: 40px 0;
  text-align: center;
}
#main .article .content {
  display: flex;
  flex-flow: column;
  align-items: center;
}
#main .article .content h1 {
  text-align: center;
  width: 60%;
  margin-top: 25px;
  font-size: 90px;
}
#main .article .content p {
  width: 55%;
  font-size: 20px;
  font-style: italic;
  text-align: center;
}
#main .double-articles {
  display: flex;
  flex-flow: row;
  margin: auto;
}
#main .double-articles .article {
  height: 1100px;
  border: 1px solid rgba(105, 105, 105, 0.3);
}
#main .double-articles .article .content h1 {
  font-size: 40px;
  width: 60%;
}
#main .double-articles .article .content p {
  font-style: normal;
  width: 75%;
  height: 200px;
  font-size: 17px;
  text-align: justify;
  margin-top: 50px;
}

/* formulaire contact */
footer {
  display: flex;
  margin: 45px auto;
  width: 80%;
  background-color: rgb(233, 233, 233);
  color: black;
}
footer p {
  color: rgb(105, 105, 105);
}
footer .formulaire {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 25px;
  width: 50%;
  border: 1px solid rgba(105, 105, 105, 0.3);
}
footer .formulaire input {
  height: 50px;
  width: 100%;
  font-size: 20px;
  background-color: rgb(233, 233, 233);
  border: 1px solid rgba(105, 105, 105, 0.3);
}
footer .formulaire textarea {
  width: 100%;
  font-size: 20px;
  resize: none;
  background-color: rgb(233, 233, 233);
  border: 1px solid rgba(105, 105, 105, 0.3);
}
footer .formulaire p {
  font-family: "Inter", sans-serif;
  font-weight: 800;
}
footer .contact-info {
  display: flex;
  flex-flow: column;
  width: 50%;
}
footer .contact-info .info {
  display: flex;
  height: 200px;
  align-items: center;
  border: 1px solid rgba(105, 105, 105, 0.3);
}
footer .contact-info .info .key {
  width: 25%;
  padding-left: 50px;
}
footer .contact-info .info .key p {
  font-family: "Inter", sans-serif;
  font-weight: 800;
}
footer .contact-info .info .value {
  display: flex;
  justify-content: flex-start;
  padding-left: 25px;
  text-align: left;
}
footer .contact-info .info .value i {
  padding: 15px;
  border-radius: 50%;
  width: 50px;
  margin: 15px;
  text-align: center;
  border: 1px solid rgb(105, 105, 105);
}
footer .contact-info .info .value i:hover {
  background-color: white;
}
footer .contact-info .info .value a {
  width: 80px;
}
footer .contact-info .info .value p {
  margin: 15px;
}

/* media querries */
@media screen and (max-width: 1280px) {
  nav {
    justify-content: center;
  }
  nav .nav-links {
    display: none;
  }
  footer .formulaire {
    padding: 25px 15px 0 15px;
  }
  footer .contact-info .info .key {
    padding-left: 20px;
  }
  footer .contact-info .info .value {
    padding-left: 10px;
  }
  footer .contact-info .info .value i {
    margin: 10px;
  }
}
/* mobile */
@media screen and (max-width: 850px) {
  /* header */
  .slogan-container {
    height: 1000px;
    top: 0;
  }
  .slogan-container p {
    font-size: 15px;
    width: 80%;
    line-height: 1;
  }
  nav {
    padding: 0;
  }
  nav .nav-elements {
    display: flex;
    padding: 0;
  }
  nav .nav-elements a {
    font-size: 10px;
    padding: 20px;
    text-align: center;
  }
  /* main */
  #main .article .first-date {
    font-size: 10px;
  }
  #main .article .content {
    border-bottom: 1px solid rgba(105, 105, 105, 0.3);
  }
  #main .article .content h1 {
    width: 45%;
    font-size: 30px;
  }
  #main .article .content p {
    width: 45%;
    text-align: center;
    font-size: 15px;
  }
  #main .double-articles {
    flex-flow: column;
  }
  #main .double-articles .article {
    border: none;
    height: 950px;
  }
  #main .double-articles .article .content {
    border: none;
  }
  #main .double-articles .article .content h1 {
    font-size: 30px;
  }
  #main .double-articles .article .content p {
    width: 75%;
    text-align: left;
    font-size: 15px;
  }
  /* footer */
  footer {
    flex-flow: column;
  }
  footer .formulaire {
    width: 100%;
    align-items: initial;
    padding: 40px 15px 0 15px;
  }
  footer .contact-info {
    width: 100%;
  }
  footer .contact-info .info .key {
    padding-left: 20px;
  }
  footer .contact-info .info .value a {
    width: 45px;
  }
  footer .contact-info .info .value a i {
    padding: 5px;
    width: 30px;
  }
}
@media screen and (max-width: 450px) {
  #main .article .content h1 {
    width: 65%;
    font-size: 20px;
  }
  #main .article .content p {
    width: 50%;
    font-size: 10px;
  }
  #main .double-articles .article {
    height: 800px;
  }
  #main .double-articles .article .content h1 {
    width: 75%;
    font-size: 20px;
  }
  #main .double-articles .article .content p {
    font-size: 10px;
  }
  footer .formulaire input {
    height: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
