body {
  font-family: "Merriweather", serif;
  color: white;
}

.fa-brands {
  text-align: center;
}

h1, h2 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
}

.section-title {
  font-size: 7rem;
  text-align: center;
}

.slogan {
  font-size: 10rem;
}

ul {
  list-style: none;
}
ul li {
  text-align: center;
}
ul li a {
  font-size: 1.4rem;
}
ul li:hover {
  background-color: rgb(233, 233, 233);
}
ul li:hover > a {
  color: black;
}

.nav-links a:hover {
  color: black;
}

.second-section-title {
  font-size: 3rem;
  text-align: center;
}

.article {
  background-color: white;
  color: black;
}

.second-article, .info {
  border: 1px solid, rgba(105, 105, 105, 0.3);
}

p {
  font-size: 1.4rem;
  line-height: 2.5;
}

.under-slogan {
  font-family: "Merriweather", serif;
  font-size: 1.7rem;
}

form p {
  line-height: 4;
  font-size: large;
}

a {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  padding: 15px 0;
  color: white;
  text-decoration: none;
}

footer {
  font-family: "Inter", sans-serif;
  background-color: white;
  color: black;
}
footer label, footer .key {
  margin: 3% 0;
  color: rgb(105, 105, 105);
}
footer .button-submit {
  color: rgb(105, 105, 105);
  border: 2px, solid rgba(105, 105, 105, 0.3);
  margin: 5% 0;
}
footer .value {
  color: rgba(105, 105, 105, 0.3);
}
footer .value a {
  padding: 10px;
}

@media screen and (max-width: 1240px) {
  ul li a {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 900px) {
  .submit-button {
    text-align: center;
  }
  .slogan, .section-title {
    font-size: 3rem;
  }
  p, .under-slogan {
    font-size: 1.2rem;
  }
  footer .value a {
    padding: 5px;
  }
}
@media screen and (max-width: 400px) {
  footer .value a {
    padding: 0;
  }
}
button {
  margin: 70px 0;
  padding: 15px 35px;
  color: rgb(105, 105, 105);
  background-color: rgb(233, 233, 233);
  font-weight: 900;
}
button:hover {
  background-color: white;
}

.arrow {
  position: relative;
  width: 60px;
  height: 60px;
  top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 50%;
}
.arrow i {
  padding: 20px;
  color: white;
}
.arrow:hover {
  border-color: black;
}
.arrow:hover:hover > i {
  color: black;
}

/* tablettes et mobiles */
@media screen and (max-width: 800px) {
  button {
    margin: 40px 0;
  }
}
header, #main-page {
  background-image: url(../../images/bg.webp);
  background-position-x: center;
}

.images {
  margin-top: 85px;
}
.images img {
  max-width: 1152px;
  height: auto;
  width: 100%;
  aspect-ratio: auto 1920/1238;
}

.images-double {
  margin-top: 0;
}
.images-double img {
  aspect-ratio: auto 640/427;
  width: 100%;
  height: auto;
  max-width: 575px;
}

@media screen and (max-width: 900px) {
  .images-double img {
    max-width: 100%;
  }
}
@keyframes load-fade {
  0% {
    height: 2000px;
    visibility: visible;
  }
  100% {
    height: 0px;
    visibility: hidden;
  }
}
/* reset CSS */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  position: relative;
  bottom: 200px;
  height: 100vh;
}

body, p, ul {
  margin: 0;
}

.fa-brands {
  width: 20px;
}

main, nav, article, footer {
  width: 80%;
  margin: 0 auto;
}

header {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}
header .slogan-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  height: 1000px;
  text-align: center;
}
header .slogan-container .slogan {
  width: 55%;
  margin: 3%;
}
header .slogan-container .under-slogan {
  font-style: italic;
}
header nav {
  display: flex;
  justify-content: space-between;
  height: 2%;
  background-color: rgba(233, 233, 233, 0.3);
}
header nav .nav-elements {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  padding: 0;
}
header nav .nav-elements li {
  width: 33%;
  padding: 15px 0;
}
header nav .nav-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 20%;
}

/* main container */
.article {
  padding: 5%;
}

.main-article {
  margin: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.main-article .first-date {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.main-article .line {
  width: 25%;
  border: 1px solid rgba(105, 105, 105, 0.3);
}
.main-article .content {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.main-article .content .section-title {
  width: 60%;
  margin-bottom: 50px;
}
.main-article .content p {
  width: 65%;
  margin: auto;
  text-align: center;
  font-style: italic;
}

.double-articles {
  display: flex;
  margin: auto;
  padding: 0;
}
.double-articles .second-article {
  padding: 5%;
}
.double-articles .second-article .second-section-title {
  width: 55%;
}
.double-articles .second-article .publication-date {
  text-align: center;
}
.double-articles .second-article .content {
  display: flex;
  flex-flow: column;
  align-items: center;
}

/* footer */
footer {
  margin: 5% auto;
  display: flex;
}
footer .formulaire {
  width: 50%;
}
footer .formulaire form {
  display: flex;
  flex-flow: column;
  padding: 5%;
  height: 100%;
  justify-content: space-between;
}
footer .formulaire form input, footer .formulaire form textarea {
  width: 80%;
  border: 1px solid rgba(105, 105, 105, 0.3);
  border-radius: 5px;
}
footer .formulaire form .input-elem {
  height: 5rem;
}
footer .formulaire .info {
  height: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5%;
}
footer .formulaire .info p {
  padding: 5% 0;
}
footer .formulaire .info .value {
  width: 55%;
}
footer .formulaire .info .value .address {
  margin-top: 12%;
}
footer .formulaire .info a {
  color: black;
  border: 1px solid rgba(105, 105, 105, 0.3);
  border-radius: 25px;
  margin: 2%;
}
footer .formulaire .info a:hover {
  color: white;
  background-color: black;
}

@media screen and (max-width: 1240px) {
  header nav {
    justify-content: flex-start;
  }
  header nav .nav-elements {
    width: 80%;
  }
  header nav .nav-links {
    width: 20%;
  }
}
@media screen and (max-width: 900px) {
  header .slogan-container .slogan, header .slogan-container .under-slogan {
    width: 90%;
  }
  header nav {
    flex-flow: column;
  }
  header nav .nav-elements {
    width: 100%;
  }
  header nav .nav-elements .second-li {
    padding: 15px;
  }
  header nav .nav-links {
    width: 100%;
  }
  .main-article .content .section-title {
    width: 90%;
  }
  .double-articles {
    flex-flow: column;
  }
  .double-articles .second-article {
    width: 100%;
    margin: 0;
  }
  .double-articles .second-article .second-section-title {
    width: 90%;
  }
  footer {
    flex-flow: column;
  }
  footer .formulaire {
    width: 100%;
  }
  footer .formulaire form input, footer .formulaire form textarea {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
