button{
    margin: 70px 0;
    padding: 15px 35px;
    color: $color-tertiary;
    
    background-color: $color-secondary;
    font-weight: 900;
    &:hover{
        background-color: $color-primary;
    }
}

/* tablettes et mobiles */

@media screen and (max-width: 800px){
    button{
        
        margin: 40px 0;
    }
}