header, #main-page{
    background-image: url(../../images/bg.webp);
    background-position-x: center;
}

.images{
    margin-top: 85px;
    img{
        max-width: 1152px;
        height: auto;
        width: 100%;
        aspect-ratio: auto 1920 / 1238;
    }
}

.images-double{
    margin-top: 0;
    img{
        aspect-ratio: auto 640 / 427;
        width: 100%;
        height: auto;
        max-width: 575px;
    }
    
}

@media screen and (max-width: 900px) {
    .images-double{
        img{
            max-width: 100%;
        }
    }
}