header, #main-page{
    background-image: url(../../images/bg.webp);
    background-position-x: center;
}

.images{
    margin-top: 85px;
    img{
        height: auto;
        width: 100%;
    }
}

.images-double{
    margin: 0;
    img{
        width: 100%;
        height: auto;
    }
    
}

@media screen and (max-width: 900px) {
    .images-double{
        img{
            max-width: 100%;
        }
    }
}