header, #main{
    background-image: url(../../images/bg.webp);
    background-position-x: center;
}

.article-images{
    height: 100%;
    width: 75%;
    margin-top: 85px;
}

.double-article-images{
    margin-top: 0;
}

