body{
    font-family: 'Merriweather', serif;
    color: $color-primary;
}

h1{
    font-family: 'Inter', sans-serif;
    width: 45%;
    font-size: 100px;
    margin-bottom: 50px;
    font-weight: 800;
}

.section-title{
    font-size: 90px;
    text-align: center;
    width: 70%;
    margin-top: 75px;
}

p{
    line-height: 2.5;
}

form p{
    line-height: 4;
    font-size: large;
}

a{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: black;
    text-decoration: none;
}

/* tablettes avec grande résolution */

@media screen and (max-width: 1200px){
    h1{
        width: 60%;
    }
}

/* tablettes */

@media screen and (max-width: 800px){
    h1{
        font-size: 50px;
        width: 55%;
    }


    footer{
        .contact-info{
            .info{
                .value{
                    p{
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

/* mobiles */

@media screen and (max-width: 450px){
    h1{
        font-size: 30px;
        width: 75%;
    }
    footer{
        .contact-info{
            .info{
                .value{
                    p{
                        font-size: 10px;
                        padding-left: 10px;
                    }
                }
            }
        }
    }
}
