body{
    font-family: 'Merriweather', serif;
    color: $color-primary;
}

.fa-brands{
    text-align: center;
}

h1, h2{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}

.section-title{
    font-size: 7rem;
    text-align: center;
}

.slogan{
    font-size: 10rem;
}

ul{
    list-style: none;
    li{
        text-align: center;
        a{
            font-size: 1.4rem;
        }
    }
    li:hover{
        background-color: $color-secondary;
    }
    li:hover > a{
        color: black;
    }
}

.nav-links{
    a:hover{
        color: black;
    }
}

.second-section-title{
    font-size: 3rem;
    text-align: center;


}
.article{
    background-color: white;
    color: black;
}

.second-article, .info{
    border: 1px solid, $color-tertiary-moded;
}

p{
    font-size: 1.4rem;
    line-height: 2.5;

}

.under-slogan{
    font-family: 'Merriweather', serif;
    font-size: 1.7rem;
}

form p{
    line-height: 4;
    font-size: large;
}

a{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    padding: 15px 0;
    color: $color-primary;
    text-decoration: none;
}

footer{
    font-family: 'Inter', sans-serif;
    background-color: $color-primary;
    color: black;
    label, .key{
        margin: 3% 0;
        color: $color-tertiary;
    }
    .button-submit{
        color: $color-tertiary;
        border: 2px, solid $color-tertiary-moded;
        margin: 5% 0;
    }
    .value{
        color: $color-tertiary-moded;
        a{
            padding: 10px;
        }
    }
}

@media screen and (max-width: 1240px) {
    ul{
        li{
            a{
                font-size: 1.2rem;
            }
        }
    }
}

@media screen and (max-width: 900px) {

    .submit-button{
        text-align: center;
    }

    .slogan, .section-title{
        font-size: 3rem;
    }

    p, .under-slogan{
        font-size: 1.2rem;
    }

    footer{
        .value{
            a{
                padding: 5px;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    footer{
        .value{
            a{
                padding: 0;
            }
        }
    }
}