body{
    font-family: 'Merriweather', serif;
    color: $color-primary;
}

body, p, ul{
    margin: 0;
}

.fa-brands{
    text-align: center;
    width: 20px;
}

h1{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}

.slogan, .section-title{
    font-size: 7rem;
    margin-bottom: 50px;
    text-align: center;
}

.slogan{
    font-size: 10rem;
}

ul{
    display: flex;
    list-style: none;
    
    li{
        a{
            font-size: 1.6rem;
        }
        a:hover{
            background-color: $color-secondary;
            color: black;
            
        }
    }
}

.nav-links{
    a:hover{
        color: black;
    }
}

.second-section-title{
    font-size: 3rem;
    text-align: center;
    margin-top: 5%px;
    padding: 0 5%;

}
.article{
    background-color: white;
    color: black;
    padding: 5%;
}

.second-article, .info{
    border: 1px solid, $color-tertiary-moded;
}

p{
    line-height: 2.5;

}

.under-slogan{
    font-family: 'Merriweather', serif;
    font-size: 25px;
}

form p{
    line-height: 4;
    font-size: large;
}

a{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    padding: 15px;
    color: $color-primary;
    text-decoration: none;
}

footer{
    font-family: 'Inter', sans-serif;
    background-color: $color-primary;
    color: black;
    label, .key{
        margin: 3% 0;
        color: $color-tertiary;
    }
    .button-submit{
        color: $color-tertiary;
        border: 2px, solid $color-tertiary-moded;
        margin: 5% 0;
    }
    .value{
        color: $color-tertiary-moded;
    }
}