/* reset CSS */
*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    position: relative;
    bottom: 200px;
    height: 100vh;
}

body, p, ul{
    margin: 0;
}

.fa-brands{
    width: 20px;
}

main, nav, article, footer{
    width: 80%;
    margin: 0 auto;
}

header{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    .slogan-container{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        height: 975px;
        text-align: center;
        .slogan{
            width: 55%;
            margin: 3%;
        }
        .under-slogan{
            font-style: italic;
        }
    }
    nav{
        display: flex;
        justify-content: space-between;
        height: 2%;
        background-color: $color-secondary-moded;
        .nav-elements{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 50%;
            padding: 0;
            li{
                width: 33%;
                padding: 15px 0;
            }
        }
        .nav-links{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 20%;
        }
    }
}

/* main container */

.article{
    padding: 5%;
}

.main-article{
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    .first-date{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .line{
        width: 25%;
        border: 1px solid $color-tertiary-moded;
    }
    .content{
        display: flex;
        flex-flow: column;
        align-items: center;
        .section-title{
            width: 60%;
            margin-bottom: 50px;
        }
        p{
            width: 65%;
            margin: auto;
            text-align: center;
            font-style: italic;
        }
    }
}

.double-articles{
    display: flex;
    margin: auto;
    padding: 0;
    .second-article{
        padding: 5%;
        .second-section-title{
            width: 55%;
            min-height: 120px;
        }
        .publication-date{
            text-align: center;
        }
        .content{
            display: flex;
            flex-flow: column;
            align-items: center;
        }
    }
}

/* footer */

footer{
    margin: 5% auto;
    display: flex;
    .formulaire{
        width: 50%;
        form{
            display: flex;
            flex-flow: column;
            padding: 5%;
            height: 100%;
            justify-content: space-between;
            input, textarea{
                width: 80%;
                border: 1px solid $color-tertiary-moded;
                border-radius: 5px;
            }
            .input-elem{
                height: 5rem;
            }
            textarea{
                resize: none;
            }
        }
        .info{
            height: 25%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5%;
            p{
                padding: 5% 0;
                margin: 2%;
            } 
            .value{
                width: 70%;
                .address{
                    margin-top: 10%;
                }
            }
            a{
                color: black;
                border: 1px solid $color-tertiary-moded;
                border-radius: 25px;
                margin: 2%;
            }
            a:hover{
                color: white;
                background-color: black;
            }
        }
    }
}

@media screen and (max-width: 1240px) {
    header{
        nav{
            justify-content: flex-start;
            .nav-elements{
                width: 80%;
            }
            .nav-links{
                width: 20%;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    header{
        .slogan-container{
            .slogan, .under-slogan{
                width: 90%;
            }
        }
        nav{
            flex-flow: column;
            .nav-elements{
                width: 100%;
                .second-li{
                    padding: 15px;
                }
            }
            .nav-links{
                width: 100%;
            }
        }
    }

    .main-article{
        .content{
            .section-title{
                width: 90%;
            }
        }
    }

    .double-articles{
        flex-flow: column;
        .second-article{
            width: 100%;
            margin: 0;
            .second-section-title{
                width: 90%;
            }
        }
    }

    footer{
        flex-flow: column;
        .formulaire{
            width: 100%;
            form{
                input, textarea{
                    width: 100%;
                }
            }
        }
    }
}