/* reset CSS */
*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    position: relative;
    bottom: 200px;
    height: 100vh;
}

main, nav, article, footer{
    width: 80%;
    margin: auto;
}

header{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    .slogan-container{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        height: 1040px;
        text-align: center;
    }
    nav{
        display: flex;
        justify-content: space-between;
        
        background-color: $color-secondary-moded;
        .nav-elements{
            display: flex;
            justify-content: flex-start;
            width: 50%;
            padding: 0;
            li{
                padding: 15px 0;
            }
        }
        .nav-links{
            display: flex;
            align-items: center;
        }
    }
}

/* main container */

.main-article{
    
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    .first-date{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .line{
        width: 25%;
        border: 1px solid $color-tertiary-moded;
    }
    .content{
        display: flex;
        flex-flow: column;
        align-items: center;
        p{
            width: 65%;
            margin: auto;
            text-align: center;
            font-style: italic;
        }
    }
}

.double-articles{
    display: flex;
    margin: auto;
    padding: 0;
    .second-article{
        padding: 5%;
        .publication-date{
            text-align: center;
        }
        .content{
            display: flex;
            flex-flow: column;
            align-items: center;
        }
    }
}

/* footer */

footer{
    margin: 5% auto;
    display: flex;
    .formulaire{
        width: 50%;
        height: 75vh;
        form{
            display: flex;
            flex-flow: column;
            padding: 5%;
            height: 100%;
            justify-content: space-between;
            input, textarea{
                width: 80%;
                border: 1px solid $color-tertiary-moded;
                border-radius: 5px;
            }
            .input-elem{
                height: 5rem;
            }
        }
        .info{
            height: 25%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 5%;
            p{
                padding: 5% 0;
            } 
            .value{
                width: 50%;
            }
            a{
                color: black;
                border: 1px solid $color-tertiary-moded;
                border-radius: 25px;
            }
        }
    }
}